
# Database
MONGODB_URI=

# Auth
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# App
NEXT_PUBLIC_APP_URL=

# Environment
NODE_ENV=


# Session 
IDLE_TIMEOUT_MS=
NEXT_PUBLIC_IDLE_TIMEOUT_MS=
LAST_ACTIVITY_MAX_AGE=
ACCESS_TOKEN_MAX_AGE=
REFRESH_TOKEN_MAX_AGE=
NEXT_PUBLIC_ACTIVITY_SYNC_INTERVAL_MS=
NEXT_PUBLIC_WARNING_TIME_MS=

# Redis
REDIS_URL=

# AfricasTalking
AFRICASTALKING_USERNAME=
AFRICASTALKING_API_KEY=
AFRICASTALKING_SENDER_ID=

# Email 
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM_NAME=
EMAIL_FROM_ADDRESS=

# Google Gemini
GOOGLE_AI_API_KEY=

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_API_KEY=

#NManager Invite Expiration Time
INVITE_TTL_HOURS =